{% extends '::base.html.twig' %}
{% block content %}
    <h2>Создать расписание поездок курьеров в регионы.</h2>
    <hr>
    <h3>Описание:</h3>
    <p>Из Москвы в регионы отправляются с центрального склада курьеры с товаром. Время в пути известно. Количество поездок в регион не ограничено.</p>
    <hr>
    <h3>Задание:</h3>
    <ul>
        <li>Вывести расписание поездок в регионы за выбираемый период.</li>
        <li>Рабочая форма для внесения данных в расписание с полями:
            <ul>
                <li>Регион</li>
                <li>Дата выезда из Москвы</li>
                <li>ФИО курьера</li>
                <li>Информационное поле: Дата прибытия в регион (рассчитывается на основе данных по региону)</li>
            </ul>
            <h4>Требования к форме:</h4>
            <ul>
                <li>Одновременно курьер может быть только в одной поездке в регион.</li>
                <li>Длительность поездки (туда/обратно) задаётся в таблице БД регионов.</li>
            </ul>
        </li>
        <li>Заполнить данные по поездкам с июня 2015 года (скрипт заполнения прислать с остальными скриптами веб-приложения)</li>
    </ul>
    <hr>
    <h3>Требования к веб-приложению:</h3>
    <ul>
        <li>Веб-сервер: Apache + PHP</li>
        <li>БД: MySQL</li>
        <li>jQuery(ajax-запросы в форме внесения поездки в регион)</li>
    </ul>
    <hr>
    <h3>Информация:</h3>
    <ul>
        Регионы:
        <li>Санкт-Петербург</li>
        <li>Уфа</li>
        <li>Нижний Новгород</li>
        <li>Владимир</li>
        <li>Кострома</li>
        <li>Екатеринбург</li>
        <li>Ковров</li>
        <li>Воронеж</li>
        <li>Самара</li>
        <li>Астрахань</li>
    </ul>
    <p>Длительность нахождения в пути любое число дней</p>
    <p>Курьеры: Произвольно не менее 10 человек</p>
    <hr>
    <h3>Прислать:</h3>
    <ul>
        <li>Полностью веб-приложение (скрипты PHP, JS и т.д.)</li>
        <li>БД MySQL – 3 таблицы:
            <ul>
                <li>Таблица с курьерами</li>
                <li>Таблица с регионами</li>
                <li>Таблица расписания поездок в регионы</li>
            </ul>
        </li>
        <li>Если веб-приложение развёрнуто на фреймворке или с использованием специфичных настроек сервера Apache, то прислать настроечный файл apache и php</li>
    </ul>
{% endblock %}